body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
  
  .language-container {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    justify-items: center;
    animation: fadeIn 1s forwards;
  }
  
  .language-button {
    width: 100px;
    height: 40px;
    background: rgba(255, 255, 255, 0.90);
    border-radius: 12px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .language-button:hover {
    background: white;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
  
  .language-text {
    color: rgba(0, 0, 0, 0.95);
    font-size: 14px;
    font-weight: 400;
  }
  
  .current-language {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    animation: fadeIn 0.3s forwards;
  }
  
  .logo {
    width: 200px;
    margin-bottom: 20px;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @media (max-width: 768px) {
    .container {
      background-size: contain; /* Adjust the background for mobile */
    }
  
    .language-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 8px;
    }
  
    .language-button {
      width: 150px;
      height: 40px;
    }
  
    .language-text {
      font-size: 12px;
    }
  
    .logo {
      width: 300px;
    }
  
    .current-language {
      font-size: 20px;
    }
  }
  